<launch>
	<node pkg="robot_model_services" type="robot_model_services" name="robot_model_services" output="screen">
	  <rosparam file="$(find robot_model_services)/rsc/robot_model_services_settings_real.yaml"/>
	  <rosparam file="$(find robot_model_services)/rsc/TopicsConfig.yaml"/>
	  <!-- this is used by costmap -->
          <rosparam file="$(find robot_model_services)/rsc/costmap_params.yaml" command="load"/>
	</node>
</launch>
